
body {

    font-family: 'Courier New', monospace;
    color: white;
    text-align: center;
    background: radial-gradient(circle, darkblue, rgb(6, 0, 0)); /*taustaväri*/
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
  }
  
  .left-column { /*vasen sivupalkki muotoilu*/
    width: 180px; 
    background-color: #f7f7f7;
    padding: 10px;
    border-right: 1px solid #ddd;
    text-decoration: none;
    color: #fdf9f9;
    margin-bottom: 80px;
    border: 3px solid #f0cf9a;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(5, 2, 0), rgb(3, 3, 252));
    font-size: 1.5em;
    line-height: 2;
  }
  
  .left-column ul {
    list-style: none; /*poistaa lista merkit vasemmasn reunan linkeiltä*/
    margin: 0;
    padding: 0;
  }
  
  .left-column li {
    margin-bottom: 10px;
  }
  
  .left-column a { /*vasemman kolumnin teksti asetukset*/
    text-decoration: none;
    color: #f99b9b;
  }
  
  .left-column a:hover {
    color: #f99b9b;
  }
  
  .main-content .content {
    flex-grow: 1;
    padding: 80px;
  }
  
  .content h2 {
    margin-top:0 
  }
  h1 { /*fontin 1 asetukset*/
    font-family: 'Courier New', monospace; 
    font-size: 4em;
    color: #f0cf9a; 
}
h2 { /*fontin 2 asetukset*/
  font-family: 'Courier New', monospace;
    font-size: 3em;
    color: #f0cf9a;
}
h3 { /*fontin 3 asetukset*/
    font-family: 'Courier New', monospace;
    font-size: 2em;
    color: #f0cf9a;
}
img {
  width: 100%; /* tee kuvista responsiivisia */
  height: auto; 
  max-width: 450px; /* määrittää maksimi leveyden */
}

@media (max-width: 768px) {
  .left-column {
      width: 100%; /* täysleveys isommilla näytöillä */
      border-right: none; /* poistaa reunan pienemmillä näytöillä */
  }

  .main-content {
      flex-direction: column; /* laita elementit päällekkäin pienillä näytöillä */
  }

  .main-content .content {
      padding: 20px; /* muotoile täyte-elementit pienemmillä näytöillä */
  }
}
